<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!--logger:默认-->
  <logger name="Default">
    <!--日志级别：OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <level value="DEBUG"/>
    <appender-ref ref="Default"/>
    <appender-ref ref="ConsoleAppenderStandard"/>
    <appender-ref ref="ConsoleAppenderError"/>
  </logger>

  <!--appender:默认Logger-->
  <appender name="Default" type="log4net.Appender.RollingFileAppender">
    <!--固定文件名-->
    <param name="StaticLogFileName" value="false" />

    <!--日志文件路径开头。
        当StaticLogFileName为false时，表示文件夹路径，为true时，表示文件路径-->
    <file value="_Log\" />

    <!--是否追加到文本文件中，默认为true -->
    <appendToFile value="true" />

    <!--文件名动态的依据，可选值有size 容量、date 日期、once 单个文件、composite混合模式 -->
    <rollingStyle value="composite" />

    <!--日期的格式，以日期作为文件夹-->
    <datePattern value="yyyyMM/yyyyMMdd&quot;.log&quot;" />

    <!--最大变换数量，-1为不限制。
        用于处理备份文件。表示备份文件的文件最大数目。
        如果设置为0,表示不备份日志文件，而且当日志文件容量满了之后，将会截断以前的日志信息；
        如果是自然数，那么当日志备份文件数目满了之后，会删除以前的日志文件备份；
        如果是负整数，那么将会无限制的增加日志备份文件。-->
    <maxSizeRollBackups value="-1" />

    <!--每个文件的大小。只在混合方式与文件大小方式下使用。
        超出大小后在所有文件名后自动增加正整数重新命名，数字最大的最早写入。
        可用的单位:KB|MB|GB。不要使用小数,否则会一直写入当前日志-->
    <param name="maximumFileSize" value="10MB" />

    <!--最小文件锁-->
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <!--内容格式-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="【%d】【%-5p】[%t] %m%n" />
    </layout>
  </appender>

  <!--appender:公用，控制台标准流(DEBUG、INFO、WARN)-->
  <appender name="ConsoleAppenderStandard" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="【%d】【%-5p】[%t] %m%n%n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="WARN" />
    </filter>
  </appender>

  <!--appender:公用，控制台错误流(ERROR、FATAL)-->
  <appender name="ConsoleAppenderError" type="log4net.Appender.ConsoleAppender">
    <target value="Console.Error" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="【%d】【%-5p】[%t] %m%n%n"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>

</log4net>